@import "../vendors/extends";
@import "../vendors/variables";

.product {
  display: flex;
  align-items: center;
  padding: 110px 0 130px 0;

  &-title {

    &:after {
      display: block;
      content: "";
      width: 130px;
      height: 2px;
      background-color: $mainRedColor;
      margin: 0 auto;
    }

    &__title {
      font-size: 42px;
      @extend %titleFont;
      text-align: center;
    }

    &__text {
      &.text {
        text-align: center;
      }
    }
  }
}
