@import "../vendors/_variables";

$Gallery: #ECECEC;

.introducing {
  padding: 90px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid $Gallery;
}

.function-area {
  width: 50%;
  padding: 7px 95px 0 0;

  &__promo {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 42px;
    line-height: 55px;
  }

  &__button {
    width: 230px;
    height: 58px;
    background-color: #fff;
    border-color: $mainRedColor;
    color: $mainRedColor;
  }

  &__button:hover{
    box-shadow: 1px -1px 20px 5px #cbc7c7;
    cursor: pointer;
  }

  &__description {
    &.text {
      color: $black;
      padding: 33px 0 49px 0;
      line-height: 29px;
    }
  }
};

