@import "./vendors/_extends";
@import "./vendors/_variables";
@import "./header/nav";
@import "./header/intro";
@import "./introducing/funtion-aria";
@import "./introducing/services-aria";
@import "./products/products";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
};

.container {
  margin: 0 auto;
  max-width: 1250px;
  min-width: 320px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
};

.wrapper {
  background-color: $headerColor;
};

.text{
  @extend %mainText;
}

.button {
  @extend %mainButton;
}








