@import "../vendors/_extends";
@import "../vendors/_variables";

.nav {
  background-color: $navBackColor;


  &__list {
    @extend %navList;
  }

  &__item {
    display: inline-block;
    @extend %navItems;
    text-align: center;
    color: #ffff;
    padding: 32px;
    letter-spacing: 0.5px;
  }

  &__item:hover {
    background-color: $hoverNavColor;
    transition: all 0.3s;
  }
};
